{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LookingBus</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>
			
			 <div id="floating-panel" style="position:relative">
              <b>Start: </b>
              <select id="start">
              <option value="san jose, ca">SJ</option>
              <option value="barstow, ca">Barstow</option>
              <option value="san bernardino, ca">San Bernardino</option>
              <option value="los angeles, ca">Los Angeles</option>
              </select>
              <b>End: </b>
              <select id="end">
              <option value="san francisco, ca">SF</option>
              <option value="barstow, ca">Barstow</option>
              <option value="san bernardino, ca">San Bernardino</option>
              <option value="los angeles, ca">Los Angeles</option>
              </select>
              </div>
              <div id="map abcc" style="height:400px"></div>

               <script type="text/javascript">
                 function initMap() {
                    var directionsService = new google.maps.DirectionsService;

                    var directionsDisplay = new google.maps.DirectionsRenderer;
                    var map = new google.maps.Map(document.getElementById('map abcc'), {
                      zoom: 7,
                      center: {lat: 41.85, lng: -87.65}
                    });
                    directionsDisplay.setMap(map);

                    var onChangeHandler = function() {
                      calculateAndDisplayRoute(directionsService, directionsDisplay);
                    };

                    document.getElementById('end').addEventListener('change', onChangeHandler);
                  }

                  function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                    directionsService.route({
                      origin: document.getElementById('start').value,
                      destination: document.getElementById('end').value,
                      travelMode: 'TRANSIT'
                    }, function(response, status) {
                      if (status === 'OK') {
                        directionsDisplay.setDirections(response);
                      } else {
                        window.alert('Directions request failed due to ' + status);
                      }
                    });
                  }
               </script>

              <script async defer src="https://maps.googleapis.com/maps/api/js?key=myApiKey&callback=initMap"></script>


        </div>
			
			
			
			
			
			
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">

              

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
